body {
	background:#ABC7D6;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
	
}

*{
	font-family: sans-serif;
	box-sizing: border-box;
}

form {
	width: 500px;
	height: auto;
	border: 2px solid #ccc;
	padding: 30px;
	background: #fff;
	border-radius: 15px;
}

h2 {
	text-align: center;
	margin-bottom: 40px;
}

input {
	display: block;
	border: 2px solid #ccc;
	width: 95%;
	padding: 10px;
	margin: 10px auto;
	border-radius: 5px;
}
label {
	color: #888;
	font-size: 18px;
	padding: 10px;
}

button {
	float: left;
	background: #555;
	padding: 10px 15px;
	color: #fff;
	border-radius: 5px;
	margin-right: 10px;
	border: none;
}
button:hover{
	opacity: .7;
}
.error {
   background: #F2DEDE;
   color: #A94442;
   padding: 10px;
   width: 95%;
   border-radius: 5px;
   margin: 20px auto;
}

h1 {
	text-align: center;
	color: #fff;
}

.footer {  
    font-size: 1.2em;

	bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
	height:170px;
    position:absolute;
    width: 100%;
	background-color: #A6B0BE;
color:white;}